body {
	margin: 0px;
}

#timeline {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 0px;
	padding-top: 10px;
	display: none;
}

canvas {
	float: left;
	padding-left: 15px;
}

/*.century {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.decade {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}*/

.year {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: inherit;
	float: left;
	font: 50% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	width: 50px;
}

.timediv {
	
}

.popup {
	position: fixed;
	top: 10px;
	left: 10px;
}

.desc {
	font-family: Arial, "MS Trebuchet", sans-serif;
}